.login-text {
  background: linear-gradient(90deg, #ffffff, #d997ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 52px;
  font-weight: bold;
}
.ant-checkbox-inner {
  background-color: transparent !important;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: dodgerblue !important;
  border-color: dodgerblue !important;
}
.forgotPassword {
  text-decoration: none;
  font-size: 17px;
  color: #9689c4;
  font-weight: 600;
}
.forgotPassword:hover {
  text-decoration: underline;
  text-decoration-color: dodgerblue;
  color: #b8b2cd;
}
.login-submit {
  background: linear-gradient(90deg, rgb(118, 95, 249), #9ac7faab) !important;
  -webkit-background-clip: text;
  border-radius: 16px !important;
  padding: 14px 0px !important;
  transition: all 0.19s ease-in-out !important;
}
.login-submit:hover {
  transform: scale(1.02);
}
